@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Registration</h2>
<form action="/login/submit">

    <label> User </label>
    <input type="text" name="User" size="15"/> <br> <br>


    Password:
    <input type="Password" id="pass" name="pass"> <br>
    <br> <br>

    <button type="submit" class="registerbtn">Login</button>

</form>