@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome To Your Account</h1>
<p>Name = @ViewBag.Name</p>
<p>Password = @ViewBag.Password</p>