
@{
    ViewBag.Title = "loginview";
 
}

<form action="/login/submit">


    <label for="fname">Email:</label><br>
    <input type="text" id="fname" name="Email" ><br>

    <label for="lname">Password:</label><br>
    <input type="text" id="lname" name="Password" ><br><br>

    <input type="submit" value="Submit">

</form>


